*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

.DS_Store
Thumbs.db

.gradle/
**/build/
**/captures/
.externalNativeBuild/
.cxx/

local.properties
secrets.properties

gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

*.jks
*.keystore

*.log
